*.pyc
/backend/db.sqlite3
.DS_Store
venv/
myvenv/
*/settings/local.py
/staticfiles/*
/mediafiles/*
__pycache__/
/.vscode/

# coverage result
.coverage
/coverage/

# npm
node_modules/
npm-debug.log

# General
/{{project_name}}-venv/
/venv/
/env/
/output/
/cache/
boilerplate.zip